/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {

  font-family: sans-serif;

  background-color: #315481;

  background-image: linear-gradient(to bottom, #315481, #918e82 100%);

  background-attachment: fixed;

 

  position: absolute;

  top: 0;

  bottom: 0;

  left: 0;

  right: 0;

 

  padding: 0;

  margin: 0;

 

  font-size: 14px;

}

 

.container {

  max-width: 600px;

  margin: 0 auto;

  min-height: 100%;

  background: white;

}

 

header {

  background: #d2edf4;

  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);

  padding: 20px 15px 15px 15px;

  position: relative;

}

nav.navig {
    background-image: -webkit-linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    background-image: -o-linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}

nav.navig a {
    color: #fff;
    font-size: 1.5em;
}